{% extends 'layout.html' %}

{% block body %}

<p> {{ stuff }}</p>

<div class="tab-pane fade active show" id="list-dash" role="tabpanel" aria-labelledby="list-dash-list" aria-expanded="true">
    <div class="container-fluid container-fullw bg-white">
          <div class="row">
           <div class="col-sm-4" style="left: 5%">
              <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                  <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-terminal fa-stack-1x fa-inverse"></i> </span>
                  <h4 class="StepTitle" style="margin-top: 5%;"> Book My Appointment</h4>
                  <script>
                    function clickDiv(id) {
                      document.querySelector(id).click();
                    }
                  </script>                      
                  <p class="links cl-effect-1">
                    <a href="/BookApp.html" onclick="clickDiv('#list-home-list')">
                      Book Appointment
                    </a>
                  </p>
                </div>
              </div>
            </div>

            <div class="col-sm-4" style="left: 10%">
              <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                  <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-paperclip fa-stack-1x fa-inverse"></i> </span>
                  <h4 class="StepTitle" style="margin-top: 5%;">My Appointments</h4>
                
                  <p class="cl-effect-1">
                    <a href="#app-hist" onclick="clickDiv('#list-pat-list')">
                      View Appointment History
                    </a>
                  </p>
                </div>
              </div>
            </div>
            </div>

            <div class="col-sm-4" style="left: 20%;margin-top:5%">
              <div class="panel panel-white no-radius text-center">
                <div class="panel-body">
                  <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-primary"></i> <i class="fa fa-list-ul fa-stack-1x fa-inverse"></i> </span>
                  <h4 class="StepTitle" style="margin-top: 5%;">Prescriptions</h4>
                
                  <p class="cl-effect-1">
                    <a href="/prescriptions.html" onclick="clickDiv('#list-pres-list')">
                      View Prescription List
                    </a>
                  </p>
                </div>
              </div>
            </div>
            
     
        </div>
      </div>

{% endblock %}